body {
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	margin: 4px 0px;
	padding: 0;
}

table {
	border: thin solid black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}


th {
	color: #EEEEEE;
	background-color: #239944;
	border: thin solid black;
	border-collapse: collapse;
	padding: 4px;
	cursor: default;
}

td {
	border: thin solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 2px;
}

h1 {
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
}

#sctDateSel {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
	text-align: center;
}

header {
	padding: 0px;
	width: auto;
}

nav {
	margin: 0px;
	width: auto;
}

menu {
	list-style: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-color: #239944;	
	border: thin solid #239944;
}

label {
	font-weight: bold;
	color: #239944;
}

a, a:visited, a:hover, a:active, a:focus {
	font-size: 14pt;
	border: thin solid #EEEEEE;
	text-decoration: none;
	font-weight: bold;
	padding: 10px 20px;	
	text-align: center;
	margin: 0px 0px;	

}

.navlink-false {
	background-color: #239944;
	color: #EEEEEE;		
}

.navlink-true {
	background-color: #EEEEEE;
	color: #239944;	
}

li {
	display: inline;
}

h3 {
	margin: 0px;
}

#sctTotal {
	text-align: center;
}

.totalDisplay-true {
	text-align: center;
	border: thin solid #239944;
	border-radius: 8px;
	padding: 0% 1%;
	margin-top: 0.5%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 0%;
	cursor: pointer;
	background-color: #EEEEEE;
}

.totalDisplay-false {
	text-align: center;
	border: thin solid #239944;
	border-radius: 8px;
	padding: 0% 1%;
	margin-top: 0.5%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 0.5%;
	cursor: pointer;
	background-color: #FFFFFF;
}

.totalDisplay {
	text-align: center;
	border: thin solid #239944;
	border-radius: 8px;
	padding: 0% 1%;
	margin-top: 0.5%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 0.5%;
	cursor: pointer;
	background-color: #FFFFFF;
}

#incomeDetails {
	vertical-align: top;
	display: inline-block;
}

#expenseDetails {
	vertical-align: top;
	display: inline-block;
}

.bold {
	font-weight: bold;
}

.navButton-true {
	text-align: center;
	border: thin solid #239944;
	border-radius: 8px;
	padding: 0% 1%;
	margin-top: 0.5%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 0%;
	cursor: pointer;
	background-color: #EEEEEE;
}

.navButton-false {
	text-align: center;
	border: thin solid #239944;
	border-radius: 8px;
	padding: 0% 1%;
	margin-top: 0.5%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 0.5%;
	cursor: pointer;
	background-color: #FFFFFF;
}

#sctReceipt {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 1%;
}

#iptReceiptDate {
	display: block;
	text-align: center;
	margin-top: 4px;
}

#receiptInputAndResults {
	text-align: center;
}

#receiptInput {
	text-align: left;
	vertical-align: top;
	display: inline-block;
	margin-right: 1%;
}

#receiptResults {
	text-align: left;
	vertical-align: top;
	display: inline-block;
	margin-left: 1%;
}

.receiptItem {
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
	margin-right: 0px;
}

#checkTotals {
	margin-bottom: 4px;
	margin-top: 4px;
}

.tableInput {
	outline: none;
	box-shadow: none;	
	border: none;	
	text-transform: uppercase;
}

.categoryDisplay {
	text-transform: uppercase;
}

.section {
	text-align: center;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	border: thin solid #239944;
	border-radius: 8px;
}

.tableContainer {
	margin-bottom: 0.5%;
	margin-top: 0.25%;
}

.sectionHeader-true {
	cursor: pointer;
	border-bottom: thin solid #239944;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #EEEEEE;
}

.sectionHeader-false {
	cursor: pointer;
}

.deleteButton {
	cursor: pointer;
	font-weight: bold;
	color: #FF0000;
}

footer {
	clear: left;
	font-style: italic;
	border-top: thin solid #239944;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
