
<h3 class="totalDisplay-false" id="netTotal">Net Total: {{getNetTotal()}}</h3>
<div class="section">
	<h3 id="navIncomes" class="sectionHeader-{{showIncomes}}" ng-click="displayIncomes()">Incomes: {{getIncomeTotal()}}</h3>
	<div class="tableContainer" ng-show="showIncomes">
		<table id="tblIncTrans">
			<thead>
				<tr>
					<th ng-click="sortItemsBy('incomes','startDate')">Start Date</th>
					<th ng-click="sortItemsBy('incomes','endDate')">End Date</th>					
					<th ng-click="sortItemsBy('incomes','category')">Category</th>
					<th ng-click="sortItemsBy('incomes','amount')">Amount</th>
					<th>
						<button type="button" ng-click="addRow(incomeItemsToAdd)" id="btnAddInc">Add Item</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="toAdd in incomeItemsToAdd">
					<td>
						<div ng-show="hasEmptyDt(toAdd)">Date cannot be empty!</div>
						<div ng-show="hasMalformedDt(toAdd)">Date must be yyyy-MM-dd</div>
						<input type="text" size="8" class="tableInput" ng-model="toAdd.startDate" />
					</td>
					<td>
						<div ng-show="hasEmptyDt(toAdd)">Date cannot be empty!</div>
						<div ng-show="hasMalformedDt(toAdd)">Date must be yyyy-MM-dd</div>
						<input type="text" size="8" class="tableInput" ng-model="toAdd.endDate" />
					</td>								
					<td>
						<div ng-show="hasEmptyCategory(toAdd)">Category cannot be empty!</div>
						<input type="text" class="tableInput" ng-model="toAdd.category" />
					</td>
					<td>
						<input type="text" size="6" class="tableInput" ng-model="toAdd.amount" />
					</td>
					<td>
						<button type="button" ng-click="saveIncome(toAdd)" >save</button>
						<button type="button" ng-click="clearIncomeFromInput(toAdd)" >cancel</button>
					</td>
				</tr>
				<tr ng-repeat="budgetItem in incomeItems | orderBy:incOrderProp:incOrderToggle">
					<td>{{budgetItem.startDate}}</td>
					<td>{{budgetItem.endDate}}</td>						
					<td>{{budgetItem.category}}</td>
					<td>{{budgetItem.amount.toFixed(2)}}</td>
					<td ng-click="deleteIncome(budgetItem)" class="deleteButton">x</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="section">
	<h3 class="sectionHeader-{{showExpenses}}" ng-click="displayExpenses()">Expenses: {{getExpenseTotal()}}</h3>
	<div class="tableContainer" ng-show="showExpenses">
		<table id="tblExpTrans">
			<thead>
				<tr>
					<th ng-click="sortItemsBy('expenses','startDate')">Start Date</th>
					<th ng-click="sortItemsBy('expenses','endDate')">End Date</th>		
					<th ng-click="sortItemsBy('expenses','category')">Category</th>
					<th ng-click="sortItemsBy('expenses','amount')">Amount</th>
					<th>
						<button type="button" ng-click="saveAllExpenseRows()" ng-show="hasInputRows(expenseItemsToAdd)" id="btnSaveAllExp">Save All</button>
						<button type="button" ng-click="addRow(expenseItemsToAdd)" id="btnAddExp">Add Item</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="toAdd in expenseItemsToAdd">
					<td>
						<div ng-show="hasEmptyDt(toAdd)">Date cannot be empty!</div>
						<div ng-show="hasMalformedDt(toAdd)">Date must be yyyy-MM-dd</div>
						<input type="text" size="8" class="tableInput" ng-model="toAdd.startDate" />
					</td>
					<td>
						<div ng-show="hasEmptyDt(toAdd)">Date cannot be empty!</div>
						<div ng-show="hasMalformedDt(toAdd)">Date must be yyyy-MM-dd</div>
						<input type="text" size="8" class="tableInput" ng-model="toAdd.endDate" />
					</td>					
					<td>
						<div ng-show="hasEmptyCategory(toAdd)">Category cannot be empty!</div>
						<input type="text" class="tableInput" ng-model="toAdd.category" />
					</td>
					<td>
						<input type="text" size="6" class="tableInput" ng-model="toAdd.amount" />
					</td>
					<td>
						<button type="button" ng-click="saveExpense(toAdd)" >save</button>
						<button type="button" ng-click="clearExpenseFromInput(toAdd)" >cancel</button>
					</td>
				</tr>
				<tr ng-repeat="budgetItem in expenseItems | orderBy:expOrderProp:expOrderToggle">
					<td>{{budgetItem.startDate}}</td>
					<td>{{budgetItem.endDate}}</td>					
					<td>{{budgetItem.category}}</td>
					<td>{{budgetItem.amount.toFixed(2)}}</td>
					<td ng-click="deleteExpense(budgetItem)" class="deleteButton">x</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
