<h3 class="totalDisplay-false" id="netTotal">Net Total: {{transactionsReport.netTotal}}</h3>
<div>
	<div id="incomeDetails" class="section">
		<h3 class="sectionHeader-{{showIncomes}}" ng-keypress="kDisplayIncomes($event)" ng-click="displayIncomes()">Incomes: {{transactionsReport.incomesTotal.toFixed(2)}}</h3>
		<div class="tableContainer" ng-show="showIncomes">
			<table>
				<thead>
					<tr>
						<th ng-click="sortReportItemsBy('incomes','category')">Category</th>
						<th ng-click="sortReportItemsBy('incomes','amount')">Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="reportItem in transactionsReport.incomes | orderBy:incOrderProp:incOrderToggle">
						<td>{{reportItem.category}}</td>
						<td>{{reportItem.amount.toFixed(2)}}</td>
					</tr>			
				</tbody>
			</table>
		</div>
	</div>
	<div id="expenseDetails" class="section">
		<h3 class="sectionHeader-{{showExpenses}}" ng-keypress="kDisplayExpenses($event)" ng-click="displayExpenses()">Expenses: {{transactionsReport.expensesTotal.toFixed(2)}}</h3>
		<div class="tableContainer" ng-show="showExpenses">
			<table>
				<thead>
					<tr>
						<th ng-click="sortReportItemsBy('expenses','category')">Category</th>
						<th ng-click="sortReportItemsBy('expenses','amount')">Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="reportItem in transactionsReport.expenses | orderBy:expOrderProp:expOrderToggle">
						<td>{{reportItem.category}}</td>
						<td>{{reportItem.amount.toFixed(2)}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
