
<div class="section">
	<h3 id="navIncomes" class="sectionHeader-{{showIncomes}}" ng-click="displayIncomes()">Incomes: {{getIncomeTotal()}}</h3>
	<div class="tableContainer" ng-show="showIncomes">
		<table id="tblIncTrans">
			<thead>
				<tr>
					<th ng-click="sortTransactionsBy('incomes','tDate')">Date</th>
					<th ng-click="sortTransactionsBy('incomes','category')">Category</th>
					<th ng-click="sortTransactionsBy('incomes','amount')">Amount</th>
					<th>
						<button type="button" ng-click="addRow(incomesToAdd)" id="btnAddInc">Add Income</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="toAdd in incomesToAdd">
					<td>
						<div ng-show="hasEmptyDt(toAdd)">Date cannot be empty!</div>
						<div ng-show="hasMalformedDt(toAdd)">Date must be yyyy-MM-dd</div>
						<input type="text" size="8" class="tableInput" ng-model="toAdd.tDate" />
					</td>
					<td>
						<div ng-show="hasEmptyCategory(toAdd)">Category cannot be empty!</div>
						<input type="text" class="tableInput" ng-model="toAdd.category" />
					</td>
					<td>
						<input type="text" size="6" class="tableInput" ng-model="toAdd.amount" />
					</td>
					<td>
						<button type="button" ng-click="saveIncome(toAdd)" >save</button>
						<button type="button" ng-click="deleteItemFromInputs(toAdd, incomesToAdd)" >cancel</button>
					</td>
				</tr>
				<tr ng-repeat="transaction in incomes | orderBy:incOrderProp:incOrderToggle">
					<td>{{transaction.tDate}}</td>
					<td>{{transaction.category}}</td>
					<td>{{transaction.amount.toFixed(2)}}</td>
					<td ng-click="deleteIncome(transaction)" class="deleteButton">x</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="section">
	<h3 class="sectionHeader-{{showExpenses}}" ng-click="displayExpenses()">Expenses: {{getExpenseTotal()}}</h3>
	<div class="tableContainer" ng-show="showExpenses">
		<table id="tblExpTrans">
			<thead>
				<tr>
					<th ng-click="sortTransactionsBy('expenses','tDate')">Date</th>
					<th ng-click="sortTransactionsBy('expenses','category')">Category</th>
					<th ng-click="sortTransactionsBy('expenses','amount')">Amount</th>
					<th>
						<button type="button" ng-click="addRow(expensesToAdd)" id="btnAddExp">Add Expense</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="toAdd in expensesToAdd">
					<td>
						<div ng-show="hasEmptyDt(toAdd)">Date cannot be empty!</div>
						<div ng-show="hasMalformedDt(toAdd)">Date must be yyyy-MM-dd</div>
						<input type="text" size="8" class="tableInput" ng-model="toAdd.tDate" />
					</td>
					<td>
						<div ng-show="hasEmptyCategory(toAdd)">Category cannot be empty!</div>
						<input type="text" class="tableInput" ng-model="toAdd.category" />
					</td>
					<td>
						<input type="text" size="6" class="tableInput" ng-model="toAdd.amount" />
					</td>
					<td>
						<button type="button" ng-click="saveExpense(toAdd)" >save</button>
						<button type="button" ng-click="deleteItemFromInputs(toAdd, expensesToAdd)" >cancel</button>
					</td>
				</tr>
				<tr ng-repeat="transaction in expenses | orderBy:expOrderProp:expOrderToggle">
					<td>{{transaction.tDate}}</td>
					<td>{{transaction.category}}</td>
					<td>{{transaction.amount.toFixed(2)}}</td>
					<td ng-click="deleteExpense(transaction)" class="deleteButton">x</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="section">
	<h3 id="btnRptToggle" class="sectionHeader-{{showReceipts}}" ng-click="displayReceipts()">Split a Receipt</h3>
	<div id="sctReceipt" ng-show="showReceipts" ng-controller="ReceiptCtrl">
		<div id="iptReceiptDate" class="receiptItem">
			<label>Receipt Date</label>
			<input type="text" ng-model="receiptDate"/>
		</div>
		<div id="receiptInputAndResults">
			<div id="receiptInput">
				<table id="tblReceiptInput" class="receiptItem">
					<thead>
						<tr>
							<th>Category</th>
							<th>Amount</th>
							<th>Taxable</th>
							<th>					
								<button type="button" ng-click="addReceiptItem(receiptItems)" id="btnAddRpt">Add Receipt Item</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="receiptItem in receiptItems">
							<td>
								<input type="text" class="tableInput" ng-model="receiptItem.category" />
							</td>
							<td>
								<input type="text" class="tableInput" ng-model="receiptItem.amount" />
							</td>
							<td>
								<input type="checkbox" ng-model="receiptItem.isTaxable" />
							</td>
							<td>
								<button type="button" ng-click="deleteReceiptItem(receiptItem)" >cancel</button>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" ng-click="calculateReceiptItems()" class="receiptItem">Calculate</button>
				<div class="receiptItem">Subtotal: {{receiptItemsSubtotal}}</div>
				<div id="iptTaxRate" class="receiptItem">
					<label>Tax Rate</label>
					<input type="text" ng-model="receiptTaxRate"/>
				</div>
				<div class="receiptItem">Tax: {{taxTotal}}</div>
				<div class="receiptItem">Total: {{receiptItemsTotal}}</div>
			</div>
			<div id="receiptResults" ng-show="false || hasInputRows(calculatedReceiptItems)">
				<table id="tblReceiptResults" class="receiptItem">
					<thead>
						<tr>
							<th>Category</th>
							<th>Subtotal</th>
							<th>Tax</th>
							<th>Total</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="calculatedReceiptItem in calculatedReceiptItems">
							<td class="categoryDisplay">{{calculatedReceiptItem.category}}</td>
							<td>{{calculatedReceiptItem.subtotal}}</td>
							<td>{{calculatedReceiptItem.tax}}</td>
							<td>{{calculatedReceiptItem.total}}</td>
							<td>x</td>
						</tr>
					</tbody>
				</table>
				<button type="button" id="btnSaveAllRpt" class="receiptItem" ng-click="saveAllReceiptItems()">Save All</button>
				<div id="checkTotals">
					<div>Check Subtotal: {{checkSubtotal}} 
						<span ng-show="checkSubtotal == receiptItemsSubtotal">Good!</span>
						<span ng-show="checkSubtotal != receiptItemsSubtotal">Subtotal Error!</span>
					</div>
					<div>Check Tax: {{checkTax}} 
						<span ng-show="checkTax == taxTotal">Good!</span>
						<span ng-show="checkTax != taxTotal">Tax Error!</span>
					</div>
					<div>Check Total: {{checkTotal}} 
						<span ng-show="checkTotal == receiptItemsTotal">Good!</span>
						<span ng-show="checkTotal != receiptItemsTotal">Total Error!</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
